.login-block {
    background: #f77e29;
    background: -webkit-linear-gradient(to bottom, #FFB88C, #f77e29);
    background: linear-gradient(to bottom, #FFB88C, #f77e29);
    float: left;
    width: 100%;
    padding: 50px 0;
    height: 100vh;
}

#container-block {
    border-radius: 10px;
    box-shadow: 15px 20px 0px rgb(0 0 0 / 10%);
    max-width: 75%;
    margin: 0 auto;
}

.text-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.login-sec {
    background: #fff;
    display: flex;
    flex-direction: column;
}

.copy-text {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    width: 100%;
    bottom: 20px;
    font-size: 13px;
}

.copy-text i {
    color: #f7620b;
    margin: 0 5px;
}

.login-sec h2 {
    margin-bottom: 2rem;
    font-weight: 800;
    font-size: 1.5rem;
    color: #f77e29;
}

.login-sec h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #FEB58A;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
}

.form-group input {
    display: flex;
    text-align: center;
    width: 100%;
    font-size: 1.10rem;
    font-weight: 400;
    line-height: 1.5;
    color: #252729;
    appearance: none;
    background-color: hsla(0, 0%, 91%, 0.505);
    background-clip: padding-box;
    border: 1px solid #6c6c6c;
    border-radius: 0.25rem;
    padding: 0.5rem;
}

.form-group .input-error {
    border-color: #dc3545;
}

.section-error {
    text-align: center;
    color: #dc3545;
    font-size: 0.8rem;
    margin-top: 0.25rem;
}

.carousel-inner {
    border-radius: 0 10px 10px 0;
}

.carousel-caption {
    text-align: left;
    left: 5%;
}

#btn-login {
    background: #f77e29;
    color: #fff;
    font-weight: 600;
}

.banner-text {
    width: 70%;
    position: absolute;
    bottom: 40px;
    padding-left: 20px;
}

.banner-text h2 {
    color: #fff;
    font-weight: 600;
}

.banner-text h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #FFF;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
}

.banner-text p {
    color: #fff;
}

.logo-container {
    background: #feb48a72;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.banner-sec {
    background: url(../../assets/hero.png) no-repeat left bottom;
    background-size: cover;
    min-height: 500px;
    border-radius: 0 10px 10px 0;
    padding: 0;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.floating-svg {
    position: absolute;
    transform: translate(-50%, -50%);
    animation: floatAnimation 2s infinite;
    z-index: 1;
    height: 100%;
}

.company-logo {
    width: 100%;
    max-width: 150px;
    height: auto;
    padding: 0.5rem;
}

/* SPINNER */

.lds-ellipsis-dot {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    margin: 0 2px;
    animation: lds-ellipsis-dot 0.6s infinite;
}

@keyframes lds-ellipsis-dot {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}