/* Nova folha de estilo CSS */

/* Estilo geral para o bloco de instalação */
.installation-container {
  background-color: #FFB88C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Estilo para o painel de instalação */
.installation-panel {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 60%;
}

/* Estilo para os cabeçalhos */
.installation-header {
  font-size: 30px;
  font-weight: 800;
  color: #f77e29;
  margin-bottom: 20px;
}

/* Estilo para os sub-cabeçalhos */
.installation-subheader {
  margin-bottom: 30px;
}

/* Estilo para os botões */
.installation-button {
  background-color: #f77e29;
  color: #ffffff;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

/* Estilo para os botões ao passar o mouse */
.installation-button:hover {
  background-color: #ff6a00;
}

/* Estilo para os botões */
.installation-button-next {
  background-color: #127500;
  color: #ffffff;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

/* Estilo para os botões ao passar o mouse */
.installation-button-next:hover {
  background-color: #106a00;
}

/* Estilo para as mensagens */
.installation-message {
  margin-top: 20px;
  font-size: 18px;
}

/* Estilo para mensagens de sucesso */
.success-message {
  color: #1d9f19;
}

/* Estilo para mensagens de erro */
.error-message {
  color: #dc3545;
}
